<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>List Manager</title>
<link th:href="'css/bootstrap.min.css'"
	href="../static/css/bootstrap.min.css" rel="stylesheet" />
<link th:href="'css/responsive-slider.css'"
	href="../static/css/responsive-slider.css" rel="stylesheet">
<link th:href="'css/animate.css'" href="../static/css/animate.css">
<link th:href="'css/font-awesome.min.css'"
	href="../static/css/font-awesome.min.css" rel="stylesheet">
<link th:href="'css/style.css'" href="../static/css/style.css"
	rel="stylesheet">

</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="#"><h1>Jackfruit</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#"><span
										class="glyphicon glyphicon-home"></span></a></li>
								<li role="presentation"><a href="/projekt">Projekt</a></li>
								<li role="presentation"><a href="/mitarbeiter">Mitarbeiter</a></li>
								<li role="presentation"><a href="/meilenstein">Meilenstein</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">Stakeholder<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/stakeholderlist">Stakeholder hinzufügen</a></li>
										<li><a href="/stakeholderlistanzeigen">Stakeholderliste</a></li>
									</ul></li>

							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
			<h4>Projektliste</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Beschreibung</th>
							<th>Ziele</th>
							<th>Wichtig</th>
							<th>Start</th>
							<th>Ende</th>
							<th>Mitarbeiter</th>
							<th>Meilenstein</th>
							<th><span class="glyphicon glyphicon-cog"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="projekt : ${plist}">
							<td th:text="${projekt.getName()}">Ding 1</td>
							<td th:text="${projekt.getBeschreibung()}">99</td>
							<td th:text="${projekt.getZiele()}">99</td>
							<td th:text="${projekt.getWichtig()}">99</td>
							<td th:text="${projekt.getStart()}">99</td>
							<td th:text="${projekt.getEnde()}">99</td>
							<td th:text="${projekt.getMitarbeitername()}"></td>
							<td th:text="${projekt.getMeilensteintitel()}"></td>
							<td><a href="" th:href="${'/projekt?id=' + projekt.getId()}"><span
									class="glyphicon glyphicon-pencil"></span></a><a href=""
								th:href="${'/projekt/delete?id=' + projekt.getId()}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>


				<a href="/projekt" class="btn btn-link" role="button">Projekt
					hinzufügen</a>
					
				<hr>
			<h4>Mitarbeiterliste</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Vorname</th>
							<th>Rolle</th>
							<th>Arbeitsgrad</th>
							
							<th><span class="glyphicon glyphicon-cog"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mitarbeiter : ${mlist}">
							<td th:text="${mitarbeiter.getName()}">Ding 1</td>
							<td th:text="${mitarbeiter.getVorname()}">99</td>
							<td th:text="${mitarbeiter.getRolle()}">99</td>
							<td th:text="${mitarbeiter.getArbeit()}">99</td>
							<td><a href="" th:href="${'/mitarbeiter?id=' + mitarbeiter.getId()}"><span
									class="glyphicon glyphicon-pencil"></span></a><a href=""
								th:href="${'/mitarbeiter/delete?id=' + mitarbeiter.getId()}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>


				<a href="/mitarbeiter" class="btn btn-link" role="button">Mitarbeiter
					hinzufügen</a>
				
				<hr>
				
			<h4>Meilensteinliste</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Titel</th>
							<th>Beschreibung</th>
							<th>IST-Datum</th>
							<th>SOLL-Datum</th>
							<th>IST-Kosten</th>
							<th>SOLL-Kosten</th>
							
							<th><span class="glyphicon glyphicon-cog"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="meilenstein : ${melist}">
							<td th:text="${meilenstein.getTitel()}">Ding 1</td>
							<td th:text="${meilenstein.getBeschreibung()}">99</td>
							<td th:text="${meilenstein.getSolldatum()}">99</td>
							<td th:text="${meilenstein.getIstdatum()}">99</td>
							<td th:text="${meilenstein.getSollkosten()}">99</td>
							<td th:text="${meilenstein.getIstkosten()}">99</td>
							<td><a href="" th:href="${'/meilenstein?id=' + meilenstein.getId()}"><span
									class="glyphicon glyphicon-pencil"></span></a><a href=""
								th:href="${'/meilenstein/delete?id=' + meilenstein.getId()}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>


				<a href="/mitarbeiter" class="btn btn-link" role="button">Meilenstein
					hinzufügen</a>
					
					<hr>
				
			<h4>Stakeholderliste</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Vorname</th>
							<th>Firma</th>
							<th>Rolle</th>
							<th>Wichtigkeit</th>
							<th><span class="glyphicon glyphicon-cog"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="stakeholderlist : ${slist}">
							<td th:text="${stakeholderlist.getName()}">Ding 1</td>
							<td th:text="${stakeholderlist.getVorname()}">Ding1</td>
							<td th:text="${stakeholderlist.getFirma()}">Ding 1</td>
							<td th:text="${stakeholderlist.getRolle()}"></td>
							<td th:text="${stakeholderlist.getWichtig()}"></td>
							<td><a href=""
								th:href="${'/stakeholderlist?id=' + stakeholderlist.getId()}"><span
									class="glyphicon glyphicon-pencil"></span></a><a href=""
								th:href="${'/stakeholderlist/delete?id=' + stakeholderlist.getId()}"><span
									class="glyphicon glyphicon-trash"></span></a></td>

						</tr>
					</tbody>
				</table>

				<a href="/stakeholderlist" class="btn btn-link" role="button">Stakeholder
					hinzufügen</a>
					
				<hr>
			
			</div>
		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>