<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Item Detail</title>
	<link th:href="'css/bootstrap.min.css'" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="'css/responsive-slider.css'" href="../static/css/responsive-slider.css" rel="stylesheet">
    <link th:href="'css/animate.css'" href="../static/css/animate.css">
    <link th:href="'css/font-awesome.min.css'" href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="'css/style.css'" href="../static/css/style.css" rel="stylesheet">
    
	
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="#"><h1>Jackfruit</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
								<li role="presentation"><a href="/projekt">Projekt</a></li>
								<li role="presentation"><a href="/mitarbeiter">Mitarbeiter</a></li>
								<li role="presentation" class="active"><a href="/meilenstein">Meilenstein</a></li>
								<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stakeholder<span class="caret"></span></a>
      								<ul class="dropdown-menu">
        								<li><a href="/stakeholderlist">Stakeholder hinzufügen</a></li>
        								<li><a href="/stakeholderlistanzeigen">Stakeholderliste</a></li>
        							</ul>
  								</li>											
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	
	
	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
				<h2>Meilenstein hinzufügen</h2>
					  
						<form action="#" th:action="${postAction}" method="post" th:object="${meilensteinDetail}">
	
							<input type="hidden" name="meilensteinDetail.id" th:value="*{id}" required/> 
							<label>Titel:</label> <br>
							<input type="text" name="meilensteinDetail.titel" th:value="*{titel}" required/> <br>
							<label>Beschreibung:</label> <br>
							<input type="text" name="meilensteinDetail.beschreibung" th:value="*{beschreibung}" required/> <br>
							<label>Soll-Datum:</label> <br>
							<input type="date" name="meilensteinDetail.solldatum" th:value="*{solldatum}" required/> <br>
							<label>Ist-Datum:</label> <br>
							<input type="date" name="meilensteinDetail.istdatum" th:value="*{istdatum}" /> <br>
							<label>Soll-Kosten:</label><br>
							<input type="text" name="meilensteinDetail.sollkosten" th:value="*{sollkosten}" required/> <br>
							<label>Ist-Kosten:</label> <br>
							<input type="text" name="meilensteinDetail.istkosten" th:value="*{istkosten}" /> <br><br>
							<div class="form-group">
								<button type="submit" class="btn btn-default">Submit</button>
								<a class="btn btn-default" href="/">Zurück</a>
							</div>
							
	
						</form>
					
				
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>
