<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Item Detail</title>
	<link th:href="'css/bootstrap.min.css'" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="'css/responsive-slider.css'" href="../static/css/responsive-slider.css" rel="stylesheet">
    <link th:href="'css/animate.css'" href="../static/css/animate.css">
    <link th:href="'css/font-awesome.min.css'" href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="'css/style.css'" href="../static/css/style.css" rel="stylesheet">
    
	
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="#"><h1>Jackfruit</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
								<li role="presentation"><a href="/projekt">Projekt</a></li>
								<li role="presentation" class="active"><a href="/mitarbeiter">Mitarbeiter</a></li>
								<li role="presentation"><a href="/meilenstein">Meilenstein</a></li>
								<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stakeholder<span class="caret"></span></a>
      								<ul class="dropdown-menu">
        								<li><a href="/stakeholderlist">Stakeholder hinzufügen</a></li>
        								<li><a href="/stakeholderlistanzeigen">Stakeholderliste</a></li>
        							</ul>
  								</li>		
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	
	
	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
				<h2>Mitarbeiter hinzufügen</h2>
					  
						<form action="#" th:action="${postAction}" method="post" th:object="${mitarbeiterDetail}">
	
							<input type="hidden" name="mitarbeiterDetail.id" th:value="*{id}" required/> 
							<label>Name:</label> <br>
							<input type="text" name="mitarbeiterDetail.name" th:value="*{name}" required/> <br>
							<label>Vorname:</label> <br>
							<input type="text" name="mitarbeiterDetail.vorname" th:value="*{vorname}" required/> <br>
							<label>Rolle:</label> <br>
							<input type="text" name="mitarbeiterDetail.rolle" th:value="*{rolle}" required/> <br>
							<label>Arbeitsgrad:</label> <br>
							<select name="mitarbeiterDetail.arbeit" th:value="*{arbeit}" required>
								<option th:selected="${mitarbeiterDetail.arbeit} =='A'" value="" disable selected hidden>Bitte auswählen...</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='10'" value="10">10%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='20'" value="20">20%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='30'" value="30">30%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='40'" value="40">40%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='50'" value="50">50%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='60'" value="60">60%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='70'" value="70">70%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='80'" value="80">80%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='90'" value="90">90%</option>
								<option th:selected="${mitarbeiterDetail.arbeit} =='100'" value="100">100%</option>
								
							</select> <br><br>
							
							
							<div class="form-group">
								<button type="submit" class="btn btn-default">Submit</button>
								<a class="btn btn-default" href="/">Zurück</a>
							</div>
							
	
						</form>
					
				
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>
