<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Item Detail</title>
	<link th:href="'css/bootstrap.min.css'" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="'css/responsive-slider.css'" href="../static/css/responsive-slider.css" rel="stylesheet">
    <link th:href="'css/animate.css'" href="../static/css/animate.css">
    <link th:href="'css/font-awesome.min.css'" href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="'css/style.css'" href="../static/css/style.css" rel="stylesheet">
    
	
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="#"><h1>Jackfruit</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
								<li role="presentation" class="active"><a href="/projekt">Projekt</a></li>
								<li role="presentation"><a href="/mitarbeiter">Mitarbeiter</a></li>
								<li role="presentation"><a href="/meilenstein">Meilenstein</a></li>
								<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stakeholder<span class="caret"></span></a>
      								<ul class="dropdown-menu">
        								<li><a href="/stakeholderlist">Stakeholder hinzufügen</a></li>
        								<li><a href="/stakeholderlistanzeigen">Stakeholderliste</a></li>
        							</ul>
  								</li>													
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	
	
	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
				<h2>Projekt hinzufügen</h2>
					  
						<form action="#" th:action="${postAction}" method="post" th:object="${projektDetail}">
	
							<input type="hidden" name="projektDetail.id" th:value="*{id}" required/> 
							<label>Projekt:</label> <br>
							<input type="text" name="projektDetail.name" th:value="*{name}" required/> <br>
							<label>Beschreibung:</label> <br>
							<input type="text" name="projektDetail.beschreibung" th:value="*{beschreibung}" required/> <br>
							<label>Ziele:</label> <br>
							<input type="text" name="projektDetail.ziele" th:value="*{ziele}"required /> <br>
							<label>Wichtig:</label> <br>
							<select name="projektDetail.wichtig" th:value="*{wichtig}" required>
								<option th:selected="${projektDetail.wichtig} =='A'" value="" disable selected hidden>Bitte auswählen...</option>
								<option th:selected="${projektDetail.wichtig} =='A'" value="A">A</option>
								<option th:selected="${projektDetail.wichtig} =='B'" value="B">B</option>
								<option th:selected="${projektDetail.wichtig} =='C'" value="C">C</option>
								<option th:selected="${projektDetail.wichtig} =='D'" value="D">D</option>
							</select> <br>
							<label>Start:</label><br>
							<input type="date" name="projektDetail.start" th:value="*{start}" required/> <br>
							<label>Ende:</label> <br>
							<input type="date" name="projektDetail.ende" th:value="*{ende}" required/> <br><br>
							<label>Mitarbeiter:</label>
							<select multiple class="form-control" name="projektDetail.mitarbeiterid" required>
								<option th:each="mitarbeiter : ${mlist}" th:value="${mitarbeiter.id}" th:text="${mitarbeiter.name}"></option>
							</select>
							<label>Meilenstein: </label>
							<select multiple class="form-control" name="projektDetail.meilenstein_id" required>
								<option th:each="meilenstein : ${melist}" th:value="${meilenstein.id}" th:text="${meilenstein.titel}"></option>
							</select>
							<div class="form-group">
								<button type="submit" class="btn btn-default">Submit</button>
								<a class="btn btn-default" href="/">Zurück</a>
							</div>
							
	
						</form>
					
				
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>
