<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Stakeholderlist Detail</title>
	<link th:href="'css/bootstrap.min.css'" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="'css/responsive-slider.css'" href="../static/css/responsive-slider.css" rel="stylesheet">
    <link th:href="'css/animate.css'" href="../static/css/animate.css">
    <link th:href="'css/font-awesome.min.css'" href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="'css/style.css'" href="../static/css/style.css" rel="stylesheet">
    
	
</head>

<body>

	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="#"><h1>Jackfruit</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
								<li role="presentation"><a href="/projekt">Projekt</a></li>
								<li role="presentation"><a href="/mitarbeiter">Mitarbeiter</a></li>
								<li role="presentation"><a href="/meilenstein">Meilenstein</a></li>
								<li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stakeholder<span class="caret"></span></a>
      								<ul class="dropdown-menu">
        								<li><a href="/stakeholderlist">Stakeholder hinzufügen</a></li>
        								<li><a href="/stakeholderlistanzeigen">Stakeholderliste</a></li>
        							</ul>
  								</li>													
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
	<h2>Stakeholder hinzufügen</h2>
	<form action="#" th:action="${postAction}" method="post" th:object="${stakeholderlistDetail}">
	
		<input class="form-control" type="hidden" name="stakeholderlistDetail.id" th:value="*{id}" required/> 
		<label>Name:</label><br>
		<input type="text" name="stakeholderlistDetail.name" th:value="*{name}" required/> <br>
		<label>Vorname:</label><br>
		<input type="text" name="stakeholderlistDetail.vorname" th:value="*{vorname}" required/> <br>
		<label>Firma:</label><br> 
		<input type="text" name="stakeholderlistDetail.firma" th:value="*{firma}" required/> <br>
		<label>Rolle:</label><br> 
		<select name="stakeholderlistDetail.rolle" th:value="*{rolle}" required>
				<option th:selected="${stakeholderlistDetail.rolle} =='A'" value="" disable selected hidden>Bitte auswählen...</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Abteilung IT'" value="Abteilung IT">Abteilung IT</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Abteilung Marketing'" value="Abteilung Marketing">Abteilung Marketing</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Abteilung Vertrieb'" value="Abteilung Vertrieb">Abteilung Vertrieb</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Aktionär'" value="Aktionär">Aktionär</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Auftraggeber'" value="Auftraggeber">Auftraggeber</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Behörde'" value="Behörde">Behörde</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Kunde'" value="Kunde">Kunde</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Lieferant'" value="Lieferant">Lieferant</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Produktmanager'" value="Produktmanager">Produktmanager</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Projektsponsor'" value="Projektsponsor">Projetksponsor</option>
				<option th:selected="${stakeholderlistDetail.rolle} =='Projektteam'" value="Projektteam">Projektteam</option>
		</select> <br>
		<label>Wichtig:</label><br>
		<select name="stakeholderlistDetail.wichtig" th:value="*{wichtig}" required>
				<option th:selected="${stakeholderlistDetail.wichtig} =='A'" value="" disable selected hidden>Bitte auswählen...</option>
				<option th:selected="${stakeholderlistDetail.wichtig} =='A'" value="A">A</option>
				<option th:selected="${stakeholderlistDetail.wichtig} =='B'" value="B">B</option>
				<option th:selected="${stakeholderlistDetail.wichtig} =='C'" value="C">C</option>
				<option th:selected="${stakeholderlistDetail.wichtig} =='D'" value="D">D</option>
		</select> <br><br>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Submit</button>
			<a class="btn btn-default" href="/">Zurück</a>
		</div>
	</form>
			</div>
		</div>
	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>