<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Stakeholderlist Detail</title>
	<link th:href="'css/bootstrap.min.css'" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="'css/responsive-slider.css'" href="../static/css/responsive-slider.css" rel="stylesheet">
    <link th:href="'css/animate.css'" href="../static/css/animate.css">
    <link th:href="'css/font-awesome.min.css'" href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="'css/style.css'" href="../static/css/style.css" rel="stylesheet">
    
	
</head>

<body>

	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="#"><h1>Jackfruit</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
								<li role="presentation"><a href="/projekt">Projekt</a></li>
								<li role="presentation"><a href="/mitarbeiter">Mitarbeiter</a></li>
								<li role="presentation"><a href="/meilenstein">Meilenstein</a></li>
								<li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stakeholder<span class="caret"></span></a>
      								<ul class="dropdown-menu">
        								<li><a href="/stakeholderlist">Stakeholder hinzufügen</a></li>
        								<li><a href="/stakeholderlistanzeigen">Stakeholderliste</a></li>
        							</ul>
  								</li>												
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
	
	<h2>Stakeholderliste</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Vorname</th>
							<th>Firma</th>
							<th>Rolle</th>
							<th>Wichtigkeit</th>
							<th><span class="glyphicon glyphicon-cog"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="stakeholderlist : ${slist}">
							<td th:text="${stakeholderlist.getName()}">Ding 1</td>
							<td th:text="${stakeholderlist.getVorname()}">Ding1</td>
							<td th:text="${stakeholderlist.getFirma()}">Ding 1</td>
							<td th:text="${stakeholderlist.getRolle()}">Ding1</td>
							<td th:text="${stakeholderlist.getWichtig()}"></td>
							<td><a href=""
								th:href="${'/stakeholderlist?id=' + stakeholderlist.getId()}"><span
									class="glyphicon glyphicon-pencil"></span></a><a href=""
								th:href="${'/stakeholderlist/delete?id=' + stakeholderlist.getId()}"><span
									class="glyphicon glyphicon-trash"></span></a></td>

						</tr>
					</tbody>
				</table>

				<a href="/stakeholderlist" class="btn btn-link" role="button">Stakeholder
					hinzufügen</a>
			</div>
		</div>
	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>